
<p>This website is designed to help you create meal plans that work for you! With high levels of recipe customization, the kitchen is yours to prepare tasty, healthy, or whatever you desire.</p>

<p>Already know which recipes you love? Search them by Id. Simply type the number into the search bar at the top left corner of the screen.</p>

<p>Found a new recipe that you want to add? Try the "Add Recipe" tab at the top, right next to the search bar. There you can add in your favorite recipes to your list. Don't forget to click submit when you are done to save your recipe!'</p>

<p>If you can't find on of the ingredients needed for your recipe, that's okay too! Just click the + icon next to the "ingredients" portion of the new Recipe form, and from there you can add a new ingredient to your pantry. You only need to add an ingredient's information one time. For the next time, the information will be saved and ready to add to your recipe from the ingredient search bar.</p>

<p>Don't know what you want to make? That's okay too! Browse the FYP (For You Page) to see which recipe we recommend. If you aren't interested in any of those recipe, just refresh the page for a new set of tasty treats!'</p>