@model Ingredient

<form method="post" class="container-fluid">
    <div class="row b">
        <div class="col-12 b">
            <label for="ingredientName">Ingredient Name</label><br />
            <input id="ingredientName" name="Name" type="text" />
        </div>
    </div>
    <div class="row b">
        <div class="col-12 b">
            <label for="amount">Amount (oz)</label><br />
            <input id="amount" name="Amount" type="number" />
        </div>
    </div>
    <div class="row b">
        <div class="col-12 b">
            <label for="calories">Calories</label><br />
            <input id="calories" name="Calories" type="number" />
        </div>
    </div>
    <div class="row b">
        <div class="col-12 b">
            <label for="carbs">Carbs</label><br />
            <input id="carbs" name="Carbs" type="number" />
        </div>
    </div>
    <div class="row b">
        <div class="col-12 b">
            <label for="protein">Protein</label><br />
            <input id="protein" name="Protein" type="number" />
        </div>
    </div>
    <div class="row b">
        <div class="col-12 b">
            <label for="fiber">Fiber</label><br />
            <input id="fiber" name="Fiber" type="number" />
        </div>
    </div>
    <div class="row b">
        <div class="col-22 b">
            <label for="fat">Fat</label><br />
            <input id="fat" name="Fat" type="number" />
        </div>
    </div>
    <div class="row b">
        <div class="col-12 b">
            <input type="submit" value="save" />
        </div>
    </div>
</form>
