@model Ingredient

<form method="post">   
    Would you like to add @Model.Name to your recipe?   
    <input type="submit" name="yesno" value="Yes"/>
    <input type="submit" name="yesno" value="No" />
</form>