@model List<Ingredient>

<form method="post">
    <input name="toname" />
    <input type="submit" value="Find Ingredients"/>
</form>
<h1>Ingredients</h1>
@if (@Model != null)
{
    @foreach (var ingr in Model)
    {
        <form method="post">
            <input name="ingr" value="@ingr.IngredientId" />
            <input type="submit" value="+" />
            Name: @ingr.Name
        </form>
        @* <div>
            <a class="text-dark" asp-area="" asp-controller="Ingredient" asp-action="ConfirmIngredient">+</a>
            Name: @ingr.Name
        </div> *@
    }
}